/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

:root {
  --primary-color: #22283b;
  --background-color: rgb(17, 18, 36);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
  /* border: 2px solid green; */
}

html,
body {
  font-size: 62.5%;
  height: 100%;
}

.app {
  /* height: 100dvh; */
  position: relative;
  min-height: 100dvh;
  background: linear-gradient(
      to bottom,
      transparent 40%,
      rgb(17, 18, 36) 40% 100%
    ),
    url(/src/assets/images/bg-desktop-dark.jpg);

  background-position: top;
  /* background-repeat: no-repeat; */
}

/* .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100dvh;
  z-index: -1;
} */

/* .top-section {
  background: url(/src/assets/images/bg-desktop-dark.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 40dvh;
}
.bottom-section {
  background-color: rgb(17, 18, 36);
  min-height: 60dvh;
} */

.content {
  width: 100%;
  position: relative;
  z-index: 1;
  display: grid;
  justify-content: center;
  gap: 4.5rem;
  color: white;
  margin: 0;
}
